* {
  margin: 0;
  padding: 0;
}

#root {
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  &__content {
    text-align: center;

    .navigation {
      padding-bottom: 0;


      justify-content: center;
    }

    h1 {
      margin-bottom: 20px;
    }

    p {
      margin-top: 20px;
    }
  }
}

.navigation {
  padding-bottom: 300px;
  list-style: none;

  display: flex;
  justify-content: start;

  &__item {
    margin-right: 10px;
  }
}